body {
  margin: 0;
  font-family: 'Open Sans', comic-sans;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: table;
}

#activity {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#result {
  text-transform: uppercase;
}

input {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  font-size: 25px;
}

.hit {
  font-size: 5.75em;
  font-weight: bolder;
}
